
body {
  display:flex;
  flex-direction:column;
  padding-right: 500px;
  padding-left: 500px;
   justify-content:center;
  min-height:100vh;
  background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
}
.myDiv{
  padding-left: 100px;
  background: linear-gradient(to right, #9cecfb, #65c7f7, #0052d4);
}
.myDiv1{
    text-align: left;
    padding-left: 20px;
    padding-right:20px;
}